@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f1ffff;
  font-family: oswald;
}

main {
  text-align: center;
  padding-top: 30px;
  height: 100vh;
}

∫ h1 {
  font-size: 1.2rem;
  font-weight: 200;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.logo {
  width: 200px;
  text-align: left;
}
.logo:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.menus {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  background-color: #f1ffff;
  height: 100%;
}

.menuList a {
  font-family: oswald;
  font-weight: 300;
  color: #000000;
}
.menuList a:hover {
  color: #5bc7ba;
  font-size: 1.1rem;
}

.nave {
  padding: 0;
}

@media (max-width: 990px) {
  .desplegable {
    display: flex;
    flex-direction: column;
  }
}
.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -50px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.portada {
  padding: 10px 0;
  width: 100%;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contendorCategorias {
  margin: 10px 30px;
  padding: 10px;
  background-color: rgba(91, 199, 186, 0.1843137255);
  border: 1px solid rgba(91, 199, 186, 0.1843137255);
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.contendorCategorias .imgCategoria {
  width: 150px;
}
.contendorCategorias:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

footer {
  background-color: rgba(91, 199, 186, 0.4117647059);
  text-align: center;
  margin-top: 50px;
  padding: 7px 0;
}

.legal {
  font-size: 1rem;
}

.redes {
  width: 40px;
  padding: 20px 0;
}
.redes:hover {
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.contenedorNosotros {
  margin: 40px 10px;
  padding: 10px;
  width: 250px;
  text-align: justify;
  background-color: rgba(209, 179, 179, 0.4156862745);
  box-shadow: rgba(0, 0, 0, 0.062) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.contenedorNosotros h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.imgNosotros {
  width: 250px;
}

.ubicacion {
  text-align: center;
}

.direccion {
  font-size: 0.9rem;
  font-weight: 200;
}

iframe {
  padding: 20px;
  width: 500px;
}

@media (max-width: 600px) {
  iframe {
    padding: 20px;
    width: 400px;
  }
}
form {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  background-color: rgba(209, 179, 179, 0.4156862745);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (max-width: 900px) {
  form {
    width: 70%;
  }
}
@media (max-width: 600px) {
  form {
    width: 70%;
    grid-template-columns: 1fr;
  }
}
.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 0;
  width: 100%;
}

.formInputs {
  margin-right: 20px;
  margin-top: 25px;
  padding-right: 20px;
  width: 100%;
}

.textinput {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  margin-left: 30px;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  display: block;
}

input {
  margin-left: 30px;
  padding: 5px;
  margin-bottom: 30px;
  font-size: 1rem;
  color: black;
  font-weight: 100;
  display: block;
  width: 85%;
  border-radius: 5px;
  border: 1px solid #FCFFFF;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

textarea {
  margin: 0 30px;
  font-size: 1rem;
  font-weight: 100;
  color: black;
  display: block;
  width: 85%;
  height: 170px;
  border-radius: 7px;
  border: 1px solid #FCFFFF;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button {
  font-size: 1.2rem;
  font-family: oswald;
  font-weight: 400;
  background-color: rgba(91, 199, 186, 0.3176470588);
  border: 1px solid rgba(91, 199, 186, 0.1254901961);
  border-radius: 3px;
  padding: 0px 5px;
  margin-top: 20px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.062) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.contendorCatalogo {
  margin: 20px 20px;
  padding: 10px;
  background-color: rgba(91, 199, 186, 0.1843137255);
  border: 1px solid rgba(91, 199, 186, 0.1843137255);
  border-radius: 3px;
  font-weight: 200;
}

.imgCatalogo {
  width: 200px;
}

.contenedorTipo {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}
.contenedorTipo h2 {
  color: #5bc7ba;
  font-weight: 500;
  font-size: 1.4rem;
}

.precio {
  font-weight: 400;
  margin-top: 5px;
  font-size: 0.8rem;
}/*# sourceMappingURL=estilos.css.map */