.contenedorNosotros {
    margin: 40px 10px;
    padding: 10px;
    width: 250px;
    text-align: justify;
    background-color: $color_extra;
    box-shadow: rgba(0, 0, 0, 0.062) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    h1 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 20px;}
}


.imgNosotros {
    width: 250px;
}

