* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: $color_fondo;
    font-family: oswald;
    height: 100vh;
}

main {
    text-align: center;
    padding-top: 30px;
    
}
∫

h1 {
    font-size: 1.2rem;
    font-weight: 200;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}